/*
gray #464F58
red #E5252B
light blue #ACEBF7
turquoise #2F9598
yellow #FFD379
*/


@import url('https://fonts.googleapis.com/css?family=Kanit:400,700,800|Raleway:400,700');

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    margin: 0;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 100%;
}

main {
    min-height: 100%;
    background-color: #464F58;
    font-size: 100%;
}

.indexlogo {
    height: 230px;
    float: right;
    margin: 2em 4em 2em 0;
}

.logo {
    position: absolute;
    height: 150px;
    margin: 3em;
    z-index: 100;
}


footer {
    height: auto;
    background-color: #464F58;
    padding: 4.5em 0 4.5em 3.5em;
}

footer p {
    position: relative;
    margin: 0;
    color: white;
    font-size: 2.1em;
    width: 50%;
}

footer div {
    float: right;
    width: 50%;
    margin: 0;
    margin-top: 1em;
    text-align: center;
}

footer div img {
    height: 70px;
    margin: .4em;
}

.bold {
    font-weight: bold;
}

.hide {
    display: none;
}

a {
    text-decoration: none;
    color: white;
}




/* DROPDOWN */

.menuBtn {
    height: 80px;
    position: absolute;
    top: 0%;
    right: 0%;
    margin-top: 60px;
    margin-right: 50px;
    cursor: pointer;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: rgba(47, 149, 152);
    background-color: rgba(47, 149, 152, 0.95);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: .5em;
    font-size: 5em;
    font-weight: bold;
    color: #FFD379;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #ACEBF7;
}

.overlay .closebtn {
    position: absolute;
    top: -20px;
    right: 20px;
    font-size: 8em;
}

a.current {
    background-color: #E5252B;

}



/* HEADER */

.logolink {
    position: relative;
    z-index: 100;
}


.eventsmain h1,
.librarymain h1,
.reviewmain h1,
.opponentmain h1 {
    position: relative;
    font-family: "Kanit", Arial, sans-serif;
    font-size: 4.5em;
    font-weight: 800;
    color: #E5252B;
    padding: .5em 0 0 20px;
    margin-bottom: 0;
    line-height: 1.4em;
    left: 20%;
    width: 80%;

}

.eventsmain h2,
.librarymain h2,
.reviewmain h2,
.opponentmain h2 {
    position: relative;
    font-family: "Kanit", Arial, sans-serif;
    font-size: 3.6em;
    font-weight: 700;
    color: #FFD379;
    margin: 0;
    padding-left: 20px;
    line-height: 1em;
    left: 20%;
    width: 80%;
}



/* INDEX */

.indexmain {
    width: 100%;

}

.indexmain h1 {
    position: relative;
    font-family: "Kanit", Arial, sans-serif;
    font-size: 5.5em;
    font-weight: 800;
    color: #FFD379;
    padding: 1em .6em;
    margin-bottom: 0;
    width: 8.5em;
}


.indexwrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.indexwrapper h2 {
    margin: 0;
    margin-top: .7em;
    font-family: "Kanit", Arial, sans-serif;
    font-weight: 700;
    font-size: 3.2em;
    text-transform: uppercase;
    line-height: 50px;
}


.blocks {
    position: relative;
    width: 100%;
}

.blocks:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.blockcontent {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 15%;
}

.blockcontent img {
    height: 240px;
}


.eventblock {
    background-color: #E5252B;
    color: #fff;

}

.libraryblock {
    background-color: #ACEBF7;
    color: #E5252B;

}

.weekblock {
    background-color: #fff;
    color: #464F58;
}

.reviewblock {
    background-color: #2F9598;
    color: #fff;
}

.opponentblock {
    background-color: #FFD379;
    color: #2F9598;
}

#opponentimg {
    padding: 2.7em;
}


.travelblock {
    background-color: #E5252B;
    color: #fff;
}




/* EVENTS */


.eventwrapper {
    width: 100%;
    font-size: 2.5em;
}

.eventfilters {
    height: auto;
    margin: 1em 0 1em 1.2em;

}

.eventfilters h5 {
    color: #fff;
    font-size: 1em;
    margin: .5em 0;
    font-weight: normal;

}

.eventfilters a {
    background-color: #2F9598;
    padding: .3em .6em;
    border-radius: 30px;
    font-weight: 600;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 1em;
    margin-right: .5em;
}

.eventfilters a:hover {
    background-color: #E5252B;

}

.singleevent {
    background-color: white;
    width: 90%;
    margin: 2.5em auto;
    padding: 1em;
    box-shadow: 15px 15px 10px black;

}

.singleevent img {
    width: 100%;
    height: 430px;
    margin-right: 0 auto;
    object-fit: cover;
    object-position: 0 8%;
}

#serious-sunday-terraforming-mars img {
    object-position: 0 90%;
}

.singleevent h3 {
    text-align: center;
    margin: 0 0 1em 0;
    color: #E5252B;
}

.shortdescr {
    margin: 1.5em 0 2em 0;
    height: auto;
    font-size: .5em;
}

.shortdescr p {
    margin: 1em 0 0 0;
}

.eventinfo {
    display: inline-block;
    vertical-align: middle;
    color: #2F9598;
    font-size: 1em;
    font-weight: 700;
    line-height: 8px;
    width: 50%;
}


.singleevent button {
    font-size: 1em;
    font-family: "Raleway", Arial, sans-serif;
    font-weight: bold;
    padding: .5em .7em;
    border-radius: 30px;
    background-color: #FFD379;
    color: #464F58;
    box-shadow: 3px 3px 5px #464F58;

}

.singleevent button:hover {
    cursor: pointer;
    background-color: #E5252B;
    color: #fff;
}



/* LIBRARY */

.libraryfilters,
.reviewfilters {
    margin-top: 2em;
}

/*filter dropdown*/
.dropbtn {
    background-color: #2F9598;
    color: white;
    padding: .5em 1em;
    border-radius: 30px;
    font-weight: 600;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 2.5em;
    margin: 1em;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #E5252B;
    color: #fff;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    left: 30%;
    top: 24%;
    position: absolute;
    background-color: #FFD379;
    width: 40em;
    z-index: 1;
    border-radius: 30px;
    padding: 1.5em 0.5em;
    grid-auto-flow: column;
}


.dropdown-content a {
    color: #464F58;
    font-size: 2.5em;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #E5252B;
    color: white;
}


.show {
    display: grid;
}


.searchbar {
    padding: .5em 1em;
    border-radius: 30px;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 2.5em;
    margin: 1em 0;
    border: none;
    width: 15em;
}


.librarywrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.7em;
    margin: 2em;
    text-align: center;

}

.singlegame {
    position: relative;
    width: 100%;
    background-color: #fff;
    box-shadow: 7px 7px 7px black;

}

.singlegame:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.singlegameContent {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 15%;
}

.singlegameContent img {
    height: 45%;
    max-width: 90%;
    object-fit: contain;
}


.singlegameContent h3 {
    color: #464F58;
    font-size: 2.2em;
    margin: 20px 0 0 0;
}

.modal {
    position: fixed;
    width: 100vw;
    top: 24%;
    left: 0%;
    min-height: 60%;
    padding: 1em;
    color: #464F58;
    font-size: 2.5em;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-weight: bold;
    border: 15px solid #2F9598;
    box-shadow: 5px 5px 5px black;
    background-color: rgba(255, 255, 255, 0.98);
    z-index: 99;

}

.modal img {
    float: right;
    margin-right: 15px;
}


#gametitle {
    color: #E5252B;
    font-size: 2em;
    font-weight: 700;
    padding: 0;
    margin-top: .7em;
    text-align: center;
}

#modal-content a {
    font-family: "Raleway", Arial, sans-serif;
    font-weight: bold;
    font-size: 1em;
    padding: .5em .7em;
    border-radius: 30px;
    background-color: #FFD379;
    color: #464F58;
    box-shadow: 3px 3px 5px #464F58;
    margin: 0 auto;
    border: none;
    position: relative;
    left: 34%;
    top: 90px;
}

#modal-content p.rating {
    margin: 15px;
}

.closebtn {
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    right: 5%;
    top: 20px;
    overflow: auto;
    font-size: 2em;
}






/* REVIEWS PAGE */

.reviewwrapper h5 {
    text-align: center;
    color: #ACEBF7;
    font-style: italic;
}


.singlereview {
    background-color: white;
    width: 90%;
    margin: 2.5em auto;
    padding: 30px;
    box-shadow: 15px 15px 10px black;

}

.rating-img {
    height: 70px;
    background-image: url(../images/1star.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 37%;
    margin: 5px;
    margin-left: 10px;
    margin-right: 45px;
    float: left;
}

.singlereview img {
    width: 40%;
    height: 320px;
    object-fit: contain;
    float: left;
    margin-right: 30px;
}

h3.reviewname {
    text-align: left;
    color: #E5252B;
    font-size: 2em;
    margin: 10px 0 50px 0;
}

.reviewinfo {
    padding: 1em;
    font-size: .9em;
    font-weight: bold;
    color: #464F58;
    margin-bottom: 25px;
}

p.difficulty,
p.duration,
p.players,
p.designer {
    margin: 15px;
}

p.difficulty span,
p.duration span,
p.players span,
p.designer span,
p.rating span {
    font-weight: normal;
}


.reviewtext {
    font-size: .9em;
    padding-bottom: 3em;
}

.reviewtext p {
    margin: 30px 0;
}





/* OPPONENT PAGE */

.opponentwrapper {
    width: 100%;
    background-color: #FFD379;
    text-align: center;
    padding-bottom: 5em;
    margin: 6em 0 0 0;
}

.opponentwrapper h3 {
    color: #2F9598;
    font-size: 35px;
    padding: 1.5em 1em 0 1em;

}

.introtext {
    color: #464F58;
    font-size: 20px;
    font-weight: 500;
    margin: 0.5em 80px;
}

.fight {
    margin: 4em auto 100px auto;
    width: 600px;
    height: 300px;
    background-image: url(../images/fightanimation.png);
    animation: fighting 1.5s steps(3) infinite;
}

@keyframes fighting {
    100% {
        background-position: -1800px;
    }
}


.meetuppost {
    display: block;
    background-color: white;
    width: 90%;
    margin: 2em auto;
    box-shadow: 10px 10px 10px black;
    text-align: left;
    padding: 40px;
    height: auto;
}

.meetuppost p {
    margin: 10px 0;
    color: #464F58;
    font-size: 20px;
    line-height: 30px;
}

.meetuppost button,
.createmeetup button {
    font-family: "Raleway", Arial, sans-serif;
    font-weight: bold;
    font-size: 45px;
    padding: .5em .7em;
    border-radius: 30px;
    background-color: #2F9598;
    color: #fff;
    box-shadow: 3px 3px 5px #464F58;
    margin: 1em 0 1em 0;
    float: right;
    border: none;

}

.meetuppost button:hover,
.createmeetup button:hover {
    background-color: #E5252B
}

.meetuppost #rose {
    height: 150px;
    position: absolute;
    right: 10%;
}

p#message {
    margin: 50px 0;
    font-weight: 500;

}

.joiners {
    margin-bottom: 2em;
}

.joiners img {
    height: 100px;
    display: inline-block;
}

.joiners h5 {
    font-size: 40px;
    color: #464F58;
    margin-bottom: 20px;
}

.createmeetup {
    color: #464F58;
}

.createmeetup h4 {
    font-size: 55px;
    margin-top: 150px;
}

.createmeetup p {
    display: inline-block;
    font-size: 3em;
    text-align: left;
    margin: 1em 30px 0 0;
    width: 160px;
}


.meetupform {
    padding: .5em 1em;
    border-radius: 30px;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 2.5em;
    margin: 15px 0;
    border: none;
    width: 15em;
    color: gray;
}

#details {
    vertical-align: top;
    margin-top: .5em;
}


#meetdetails {
    height: 250px;

}

#createbtn {
    float: none;
    display: block;
    margin: 1em;
    margin-left: 288px;

}

/* GEEK TRAVEL PAGE */

.travelwrapper {
    background-color: #FFD379;
    margin-top: 70px;
    padding: 30px;

}

#trolley {
    height: 400px;
    float: left;
    margin: 1em 40px 3em;
}

.travelwrapper h3 {
    text-align: center;
    color: #2F9598;
    font-size: 39px;
}

.travelwrapper .introtext {
    text-align: center;
    margin-bottom: 150px;
    font-size: 19px;
}

.spiel-trip {
    display: block;
    background-color: white;
    width: 90%;
    margin: 2em auto 180px;
    box-shadow: 10px 10px 10px black;
    text-align: left;
    padding: 40px;
    height: auto;
}

.spiel-trip h5 {
    font-size: 40px;
    margin: .5em 0 10px 0;
    color: #E5252B;
}

.spiel-trip img {
    width: 100%;
    margin-bottom: 50px;
}

.spiel-trip p,
.spiel-trip ul {
    margin: 30px 0;
    color: #464F58;
    font-size: 25px;
    line-height: 40px;

}

#signupbtn {
    position: relative;
    font-family: "Raleway", Arial, sans-serif;
    font-weight: bold;
    font-size: 45px;
    padding: .5em .7em;
    border-radius: 30px;
    background-color: #2F9598;
    border: none;
    color: #fff;
    box-shadow: 3px 3px 5px #464F58;
    left: 16%;
    margin: 30px 0 60px;
}

#signupbtn:hover {
    background-color: #E5252B
}



/*
gray #464F58
red #E5252B
light blue #ACEBF7
turquoise #2F9598
yellow #FFD379
*/
